.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .picture1-4 {
    animation: App-logo-spin infinite 40s linear;
  }
  .picture2-5 {
    animation: App-logo-spin infinite 30s linear;
  }
  .picture3-6 {
    animation: App-logo-spin infinite 50s linear;
  }
}

.picture7 {
  align-self: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photos {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.photo {
  width: 30%;
  height: auto;
  pointer-events: none;
  border-radius: 3%;
}

.text {
  position: absolute;
  text-shadow: 0 0 30px black;
}